body {
  margin: 100px auto;
}

.navbarslid ul li {
  list-style-type: none;
  display: inline;
}

.navbarslid ul li a {
  color: #000000;
  text-decoration: none;
  display: block;
  float: left;
  height: 50px;
  background-color: #f3f5fa;
  text-align: center;
  padding: 30px 20px 0px 60px;
  margin: 0 10px 0 0;
  position: relative;
  font-size: 20px;
}

.navbarslid ul li a:after {
  content: "";
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #f3f5fa;
  position: absolute;
  right: -40px;
  top: 0;
  z-index: 1;
}

.navbarslid ul li a:before {
  content: "";
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
}

.navbarslid ul li:first-child a {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.navbarslid ul li:first-child a:before {
  display: none;
}

.navbarslid ul li:last-child a {
  padding-right: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.navbarslid ul li:last-child a:after {
  display: none;
}

.navbarslid ul li a:hover {
  color: #fff;
  background-color: #333;
}

.navbarslid ul li a:hover:after {
  border-left-color: #333;
}

/*# sourceMappingURL=css.css.map */
